@{
    ViewData["Title"] = "Hiba";
}

<div class="text-center">
    <h1 class="display-4"><i class="bi bi-database-fill-gear"></i> Hibás konfiguráció!</h1>
    <br>
    <p><strong>A konfiguráció elemmei vagy nem a megadott formátumban vannak vagy nincsenek</strong></p>
    <h2>｡°(°.◜ᯅ◝°)°｡</h2>
    <p>Módosísd a konfigurációt az <a href="https://github.com/tm01013/Munkanaplo-Buisness-Edition.git">itt</a> leírtak
        alapján</p>
    <br>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a
        href="https://github.com/tm01013/Munkanaplo-Buisness-Edition.git">itt</a>
</div>